@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

a.active hr {
  display: block;
}
* {
  font-family: jose;
}
.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}
